{{ 'distributor-form.css' | asset_url | stylesheet_tag }}

<!-- Do not chnage this ID because many of links are scrolling to this -->
<div id="beccome-a-distributor" class="distributor-form">
    <div class="row">
      <div class="col-12">
        <h2 class="sh-48">Become a Distributor</h2>
        <span class="sp-16">Send Your Workers Home SAFE.</span>
      </div>
      <div class="col-12 social-icons-dist">
          {%- render 'social-icons',
            class: 'distributer__list-social d-flex justify-content-md-start flex-md-row align-items-center'
          -%}
      </div>
    </div>
    {% comment %} <form class="mt-5">
      <div class="row g-3">
        <div class="col-12 mt-4 form-row">
          <label for="name" class="form-label">Your Name</label>
          <input type="text" class="form-control" id="name" placeholder="Your Name">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" placeholder="Email Address">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="phone" class="form-label">Phone Number (optional)</label>
          <input type="text" class="form-control" id="phone" placeholder="Phone Number">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="city" class="form-label">City</label>
          <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="state" class="form-label">State</label>
          <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" placeholder="Country">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="company" class="form-label">Company Name</label>
          <input type="text" class="form-control" id="company" placeholder="Company Name">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="business-type" class="form-label">Type of Business</label>
          <input type="text" class="form-control" id="business-type" placeholder="Type of Business">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="individual-type" class="form-label">Type of Individual</label>
          <input type="text" class="form-control" id="individual-type" placeholder="Type of Individual">
        </div>
        <div class="col-12 mt-5 form-row">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
        </div>
        <div class="col-12 text-start">
          <button type="submit" class="btn btn-submit">Submit Inquiry</button>
        </div>
      </div>
    </form> {% endcomment %}
    <div class="globo-formbuilder" data-id="Nzc4MTY="></div>

  </div>