<div class="slider">
  <div
    class="swiper-container"
    data-space-between="10"
    data-slides-desktop="3"
    data-slides-tablet="2"
    data-slides-mobile="1"
  >
    <div class="swiper-wrapper pmedia">
      {% for media in product.media %}
        <div class="swiper-slide">
          {%- assign media_color_tokens = media.alt | downcase | split: ',' -%}
          <img
            src="{{ media | img_url : '636x' }}"
            alt="{{ media.alt | handleize | downcase }}"
            width="636"
            height="636"
            loading="lazy"
            data-color="{{ media_color_tokens | first | strip | handleize }}"
            data-color-list="{{ media.alt | downcase | strip | escape }}"
            class="img-fluid"
          >
        </div>
      {% endfor %}
    </div>
  </div>
</div>
