<div class="row">
  <div class="col-12 mb-4">
    <h2 class="sh-48">{{ block.settings.heading }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">{{ block.settings.description }}</div>
</div>
