<div class="row">
  <div class="col-12 mb-4">
    <h3 class="sh-48">{{ block.settings.heading }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">{{ block.settings.description }}</div>
</div>
