{% comment %}
  Displaying the latest 5 blog posts from the "news" blog.
  You can replace "news" with your blog's handle.
{% endcomment %}

<div class="related-post">
  <div class="page-width container-fluid">
    <h2 class="sh-48 mt-5 mb-3">Related News</h2>
    <div class="row">
      {% for article in blogs.news.articles limit: 5 %}
        {% unless article.handle == current_article_handle %}
          <div class="col-sm-6 col-md-4 col-lg-3 mb-5 blog-item" onclick="location.href = '{{ article.url }}';">
            {%- render 'article-card', article: article -%}
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>
