{% if section.settings.text != blank %}
<div class="announcement-bar d-flex align-items-center justify-content-center">
    <div class="announcement-bar-text ">
      {% if section.settings.link != blank  %}
      <a href="{{ section.settings.link }}">{{ section.settings.text }}</a>
      {% else %}
      {{ section.settings.text }}
    {% endif %}
    </div>
</div>
{% endif %}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "announcement-bar-section",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
        "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
      },
     {
        "type": "url",
        "id": "link",
        "default": "t:sections.announcement-bar.blocks.announcement.settings.text.default",
        "label": "Link"
      },
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name",
    }
  ]
}
{% endschema %}
