<!-- Loader element -->
<div id="loader" class="loader" style="display:none;">
  <!-- You can use a simple spinning circle loader or any other loader of your choice -->
  <div class="spinner">&nbsp;</div>
</div>

{% comment %} Product Media {% endcomment %}
<div class="product__media-list-wrap">
  {% render 'media', product: product %}
</div>

{% schema %}
{
  "name": "Product Media",
  "class": "product-media",
   "presets": [
    {
      "name": "Product Media",
    }
  ]
}
{% endschema %}
