.brand-list-box{
  box-sizing: border-box;
  padding: 24px 24px 40px;
  background: #FFFFFF;
  border: 1px solid #EBF0F5;
}



.brand-list-box p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
}

.brand-list-box .s-btn{
    padding: 16px 32px;
    max-width: 300px;
    min-height: 56px;
}

.brand-list-box .imager{
    width: 100%;
    aspect-ratio: 1 / 1; /* Makes the box square. Use 4 / 3 or 3 / 4 for rectangles */
    overflow: hidden;
  }

.brand-list-box .imager img{
   width: 100%;
  height: 100%;
  object-fit: cover; /* Crops & fills space */
  display: block;
}