.caco-supplier h2 span{
  display: block;
  color: var(--primary-color);
}

.caco-supplier p{
  max-width: 60rem;
  line-height: 32px;
  margin-bottom: 40px;
}

.caco-supplier .p-btn, .caco-supplier .s-btn {
  padding: 16px 32px;
  min-width: 177px;
  min-height: 56px;
}