.catalog-list-heading p{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  margin-bottom: 30px;

}

.catalog-list-box .sh-32{
  margin: 0;
}
.catalog-list-box p{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  margin: 0;
}

.catalog-list-box .s-btn{
    padding: 16px 32px;
    max-width: 150px;
    min-height: 56px;
}

.catalog-list-box .imager{
    width: 100%;
    aspect-ratio: 1 / 1; /* Makes the box square. Use 4 / 3 or 3 / 4 for rectangles */
    overflow: hidden;
  }

.catalog-list-box .imager img{
   width: 100%;
  height: 100%;
  object-fit: cover; /* Crops & fills space */
  display: block;
}

@media(max-width: 767px){
  .catalog-list-heading p{
    margin-bottom: 20px;
  }
}


#shopify-section-{{ section.id }} .imager {
  overflow: hidden;
  border-radius: 12px;
}


/* === Botón del bloque (s-btn) con 15px === */
#shopify-section-{{ section.id }} .catalog-list-box .s-btn {
  border-radius: 999px!important;
}

#toggle-desc{ display:none !important; }



