.contact-info-inner:first-child span {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
}

.contact-info-inner:first-child h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
  margin-top: 20px;
}

.contact-info-inner h5{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 40px;
}



.contact-info-inner strong{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-decoration-line: underline;
  color: #000000;
  margin-bottom: 20px;
  display: inline-block;
}

.contact-info-inner p{
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */
  color: #000000;
}

.contact-info-inner h5:after {
    content: "";
    height: 3px;
    border-bottom: 3px solid #000;
    /* position: relative; */
    display: block;
    width: 8%;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 767px ){
  .contact-info-inner:first-child h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .contact-info-inner h5{
    margin-top: 20px;
  }

  .contact-info-inner h5:after {
    margin-top: 10px;
    margin-bottom: 10px;
  }

}