.contact-us-first h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #222222;
  margin-bottom: 30px;
}

.contact-us-first p{

  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;

}

.globo-formbuilder {
    height: auto !important;
    position: relative;
   z-index: 0;
}

.globo-form-id-73517 .globo-form-app .globo-form-control{
  padding:0;
}
.globo-form-id-73517 .globo-form-app .globo-label{
    text-align: left !important;
    width: 100% !important;
    height: 32px !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 16px !important;
    color: rgba(34, 34, 34, 0.6) !important;
    display: block !important;
  left: -10px !important;
}




 .globo-form-id-73517 .globo-form-app label.globo-label span.label-content{
    color: rgba(34, 34, 34, 0.6) !important;
 }

.globo-form-id-73517 .globo-form-app .globo-form-input:hover {
    background-color: #fff !important;
}

.globo-form-id-73517  .globo-form-app .footer button, .globo-form-id-73517  .globo-form-app .gfb__footer button {
    min-width: 115px;
    height: 64px;
    background: #0a5ba6;
    border-radius: 0;
    font-family: Barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #fff;
}

.contact-us-second{
  background: #222222;
}

.contact-us-second .distributor-form {
    padding-top: 130px;
}

.contact-us-second .distributor-form {
    padding-top: 130px;
}

.contact-us-second .distributer__list-social .list-social__item:last-child{
  display: none;
}

.shopify-section-group-footer-group.distributor-form{
  display:none;
}

.contact-us-second .distributor-form form{
  max-width: 32rem;
  margin-top: 92px !important;
}

.contact-us-second .distributor-form  .form-row{
    position: relative;
 
}

.contact-us-second .distributor-form  .form-row label{
  position: absolute;
  top: -16px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.contact-us-second .distributor-form .form-label{
  height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: rgba(235, 240, 245, 0.6);
}

/* FLOAT when input is focused or has value */
.form-row:focus-within label,
.form-row input:not(:placeholder-shown) ~ label {
  top: -8px;
  left: 8px;
  font-size: 12px;
  color: #333;
}


@media (min-width: 768px) {
    .contact-us-second .list-social.distributer__list-social {
        position: unset;
    }
}

@media(max-width: 767px){

  .contact-us-first h1{
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: var(--font-secondary-color);
  }

  .contact-us-second .distributor-form {
    padding-top: 80px;
  }

  .contact-us-second .distributor-form form{
    max-width: 100%;
    margin-top: 40px !important;
  }


}