
.custom-logo-form{
  background: #ebf0f5;

}

.custom-logo-form .page-width{
  background: #fff;
  padding: 2rem;
}

.page-width-content{
  max-width: 70rem;
  margin: 0 auto;
}

.custom_logo_form_header h2{
  /* Heading 2 */
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height, or 100% */
  color: #222222;

}

.custom_logo_form_header h2 span{
  color: #0A5BA6;
}

.custom_logo_form_header p{
  max-width: 43.75rem;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin: 0 auto;
}

 

    
.custom-logo-form .form-label {
    margin-bottom: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #22222299;
}



 .custom-logo-form .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #222222;
  border-radius: 0;
  color: #222222;
}

.custom-logo-form .form-select {
  background-color: transparent;
  border: 1px solid #222222;
  border-radius: 0;
  color: #222222;
}

.custom-logo-form .form-label-file {
  
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
}

  .custom-logo-form .form-control:focus {
    box-shadow: none;
    border-color: #0a5ba6;
  }

  .custom-logo-form .btn-submit {
    background-color: #0a5ba6;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-weight: bold;
  }

  .custom-logo-form .btn-submit:hover {
    background-color: #0056b3;
  }

  .custom-logo-form .social-icons {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .custom-logo-form .social-icons a {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    transition: color 0.3s;
  }

  .custom-logo-form .social-icons a:hover {
    color: #007bff;
  }

.custom-logo-form .btn-submit {
  color: #ffffff;
  background: #0A5BA6;
  border-radius: 0;
  margin-top: 2rem;
}

.custom-logo-form input::placeholder, .custom-logo-form textarea::placeholder {
  display: none; /* Might not work in all browsers */
}

@media(min-width: 768px){

  .social-icons-dist{
    position: relative;
  }
  .list-social.distributer__list-social {
    position: absolute;
    top: -50px;
    right: 20px;
  }
}


@media(max-width:767px){
  
  .trending_products_header h2{
    /* Heading 2 */
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 100% */
    color: #222222;
  
  }
}