.head-protection-banner p {
    max-width: 60rem;
}

.head-protection-banner .sh-60 span{
  color: var(--primary-color);
}

.head-protection-banner .p-btn, .head-protection-banner .s-btn{
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    font-weight: 600;
}