.heat-download-resources .page-width{
  max-width: 75rem;
}
.heat-download-resources .s-btn{
  min-width: 216px;
  min-height: 56px;
  background: #FFFFFF;
  border: 1px solid #0A5BA6;
  padding: 16px 32px;
}


.heat-download-resources li{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 32px 0px;
  gap: 27px;
  border-bottom: 0.5px dashed #ABB8C3;
}

.heat-download-resources li a{
  text-decoration: none;
}

