.industries-section-2 .sh-48{
  max-width: 50rem;
}

.template-industries-transportation .industries-section-2 .sh-48{
  max-width: 46rem;
}


.template-industries-construction .industries-section-2 .sh-48 {
    max-width: 37rem;
}


.industries-section-2 .sp-16 {
    max-width: 41rem;
}

.industries-section-2 .sp-16 {
    max-width: 100%;
}

.template-industries-transportation .industries-section-2 .sp-16 {
    max-width: 42rem;
}

.template-industries-construction .industries-section-2 .sp-16 {
    max-width: 100%;
}