


.industries-section-1 .sp-16{
  max-width: 31rem;
}

.template-industries-mining .industries-section-1 .sp-16 {
    max-width: 44rem;
}

.template-industries-electrical .industries-section-1 .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -61px;
    width: 50%;
    height: auto;
}

.template-industries-oil-gas .industries-section-1 .image-banner .banner-up{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 217px;
    width: 38%;
    height: auto;
}

.template-industries-construction .industries-section-1 .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 40px;
    width: 48%;
    height: auto;
}

.template-industries-manufacturing .industries-section-1 .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 110px;
    width: 54%;
    height: auto;
}

.template-industries-transport .industries-section-1 .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 110px;
    width: 46%;
    height: auto;
}

.template-industries-agriculture .industries-section-1 .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 110px;
    width: 48%;
    height: auto;
}

.industries-section-1  .sh-60{
  margin:0;
}
.industries-section-1  .sh-60 span{
  color: var(--primary-color);
}

.template-industries-oil-gas .industries-section-1  .sh-60, .template-industries-construction .industries-section-1  .sh-60 {
  color: var(--primary-color);
}

.template-industries-oil-gas .industries-section-1  .sh-60 span, .template-industries-construction .industries-section-1 .sh-60 span {
  color: var(--font-secondary-color);
}



.industries-section-1 .image-banner{
  position: relative;
  z-index: 0;
}

.industries-section-1 .image-banner .banner-up{
  position: absolute;
  z-index: 0;
  bottom:0;
  right: 110px;
  width: 50%;
  height: auto;
}

.template-industries-transportation .industries-section-1 .image-banner .banner-up{
  position: absolute;
  z-index: 0;
  bottom:0;
  right: 110px;
  width: 46%;
  height: auto;
}

.template-industries-food-process .image-banner .banner-up {
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 50px;
    width: 50%;
    height: auto;
}


.industries-section-1 .p-btn, .industries-section-1 .s-btn {
    padding: 16px 32px;
    min-height: 56px;
    font-weight: 600;
}
@media(max-width: 1650px){
    .template-industries-electrical .industries-section-1 .image-banner .banner-up {
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0px;
      width: 50%;
      height: auto;
}

}
@media(max-width: 992px){

  .industries-section-1 .image-banner {
    margin-top: 30px;
  }
  .industries-section-1 .image-banner .banner-up{
    position: absolute;
    z-index: 0;
    bottom:0;
    right: 35px;
    width: 50%;
    height: auto;
  }
}