

.industries-served h3, .industries-served p{
  padding: 0;
  margin: 0;
} 

.industries-served h3 a{
  color: var(--primary-color);
  text-decoration: none;
} 

.industries-served h3 a:hover{
  text-decoration: underline;
} 

.industries-served .s-btn{
    padding: 16px 32px;
    max-width: 200px;
    max-height: 56px;
}

.industries-served img{
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.industries-served img:hover {
  filter: grayscale(0%);
}

.industries-served .swiper-slide:hover img {
   filter: grayscale(0%);
}
