.industries-section-7 h2{
  max-width: 44rem;
  text-align: center;
}





.template-industries-oil-gas .industries-section-7 h2 {
    max-width: 45rem;
    text-align: center;
}


.template-industries-transportation .industries-section-7 h2 {
    max-width: 37rem;
    text-align: center;
}


.template-industries-food-process .industries-section-7 h2 {
    max-width: 53rem;
    text-align: center;
}

.template-industries-electrical .industries-section-7 h2 {
    max-width: 38rem;
    text-align: center;
}

.template-industries-construction .industries-section-7 h2{
  max-width: 100%;
}


.template-industries-manufacturing .industries-section-7 h2 {
    max-width: 100%;
    text-align: center;
}

.industries-section-7 p{
  max-width: 60rem;
  text-align: center;
}

.template-industries-construction .industries-section-7 p {
    max-width: 59.1rem;
    text-align: center;
}

