.industries-section-2-2 h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
   color: var(--font-secondary-color);
  margin-bottom: 30px;
  max-width: 28rem;
}



.template-industries-food-process .industries-section-2-2 h2{
  max-width: 32rem;
}

.template-industries-electrical .industries-section-2-2 h2{
  max-width: 38rem;
}

.template-industries-manufacturing .industries-section-2-2 h2 {
    max-width: 30rem
}

.industries-section-2-2 p{
  color: var(--font-secondary-color);
  font-size: 16px;
  line-height: 32px;
  max-width: 44rem;
}


.industries-section-2-2 h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-secondary-color);
}

.industries-section-2-2 strong{
  color: var(--primary-color);
}

.industries-section-2-2 ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
  max-width: 38rem;
}

 .industries-section-2-2 ul li{
    font-weight: 400;
    position: relative;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
   color: var(--font-secondary-color);
       min-height: 60px;
 }

  .industries-section-2-2 ul li strong{
    font-weight: 600;
  } 

 .industries-section-2-2 ul li:first-child::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

  .industries-section-2-2 ul li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

  .template-industries-electrical .industries-section-2-2 ul li:nth-child(2):before{
    top: 7px;
  }

  .industries-section-2-2 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

.industries-section-2-2 .col-last p:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 24px;
    background: #EBF0F5;
    min-height: 96px;
    max-width: 42rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
      color: var(--font-secondary-color);
}

.industries-section-2-2 .col-last p:last-child strong {
    font-size: 14px;
    /* width: 652px; */
    /* height: 32px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #222222;
    /* flex: none; */
    /* order: 0; */
    /* align-self: stretch; */
    /* flex-grow: 0; */
    text-align: start;
}

@media (max-width: 767px){
 .industries-section-2-2 h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: var(--font-secondary-color);
    margin-bottom: 20px;
  }

  .industries-section-2-2 ul {
    margin: 15px 0;
  }

  .industries-section-2-2 .col-last p:last-child {
    padding: 15px;
    background: #EBF0F5;
    font-size: 18px;
    line-height: 24px;
  }
}