.industries-section-4 .page-width{
  background: #EBF0F5;
}

.industries-section-4 .sh-48{
  max-width: 45rem;
  margin: 0 auto;
}

.industries-section-4 .sp-16{
  max-width: 48rem;
  margin: 0 auto;
}

.industries-section-4  .info-list li.d-flex.flex-column.gap-2.align-items-center.justify-content-start {
    flex: 0 1 20%;
}

.industries-section-4 .imger{
  width: 100px;
  height: 64px;
  margin-bottom: 20px;
}

.industries-section-4 .imger img{
  width: 100%;
  height: 64px;
  object-fit: contain;
}

.industries-section-4  .info-list li p{
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #222222;
}

.industries-section-4  .info-list li p strong{
  font-weight: 600;
   font-size: 16px;
   line-height: 24px;
}

.template-industries-construction .industries-section-4 .sp-16, .template-industries-manufacturing .industries-section-4 .sp-16  {
    max-width: 53rem;
    margin: 0 auto;
}

.template-industries-construction .industries-section-4 ul.info-list, .template-industries-manufacturing .industries-section-4 ul.info-list {
    max-width: 60rem;
    margin: 0 auto;
}

.template-industries-construction .industries-section-4 .ash-16, .template-industries-manufacturing .industries-section-4 .ash-16{
   max-width: 57rem;
    margin: 0 auto;
}

.template-industries-construction .industries-section-4 .ash-16s, .template-industries-manufacturing  .industries-section-4 .ash-16s{
    max-width: 57rem;
    margin: 0 auto;
  margin-top: 30px;
}

.industries-section-4 strong {
    color: var(--primary-color);
}
@media (min-width: 1201px) {
  .industries-section-4 .page-width{
    padding: 40px;
  }

}
@media (max-width: 1200px) {
  .industries-section-4 .info-list li.d-flex.flex-column.gap-2.align-items-center.justify-content-start {
    flex: 0 1 100%;
  }

  .template-industries-construction .industries-section-4 .ash-16s{
    margin-top: 20px;
  }
}