.industries-section-2-4 h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
   color: var(--font-secondary-color);
  margin-bottom: 30px;

}

.template-industries-construction .industries-section-2-4  h2{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
   color: var(--font-secondary-color);
 
  max-width: 37rem;
margin: 0 auto;
   margin-bottom: 30px;
}



.industries-section-2-4 p{
  color: var(--font-secondary-color);
  font-size: 16px;
  line-height: 32px;
  max-width: 62rem;
  margin: 0 auto;
  margin-bottom: 30px;
  
}


.industries-section-2-4 h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--font-secondary-color);
  margin-top: 20px;
  display:inline-block;
}

.industries-section-2-4 h3{
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #222222;
  display: inline-block;
  margin-top: 20px;
}

.template-industries-construction .industries-section-2-4 h3{
  margin-top: 50px;
}

.template-industries-construction .listing-cri p:last-child{
  margin-top: 50px;
}
.industries-section-2-4 strong{
  color: var(--primary-color);
}

.industries-section-2-4 ul {
  list-style: none;
  padding: 0;
  margin: 30px 0;
  display:flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

 .industries-section-2-4 ul li{
    font-weight: 400;
    position: relative;
    padding-left: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
   color: var(--font-secondary-color);
    text-align: start;
    max-width: 25rem;
    padding: 0;
    padding-left: 55px;
    max-width: 27rem;
 }

  .industries-section-2-4 ul li strong{
    font-weight: 600;
  } 

 .industries-section-2-4 ul li:first-child::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

  .industries-section-2-4 ul li:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

  .template-industries-electrical .industries-section-2-4 ul li:nth-child(2):before{
    top: 7px;
  }

  .industries-section-2-4 ul li:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: none;
  }

.industries-section-2-4 .col-last p:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #EBF0F5;
    min-height: 96px;
    max-width: 42rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
      color: var(--font-secondary-color);
}


@media (max-width: 767px){
 .industries-section-2-4 h2{
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: var(--font-secondary-color);
    margin-bottom: 20px;
  }

  .industries-section-2-4 ul {
    margin: 15px 0;
  }

  .industries-section-2-4 .col-last p:last-child {
    padding: 15px;
    background: #EBF0F5;
    font-size: 18px;
    line-height: 24px;
  }

    .industries-section-2-4 p{
      margin-bottom: 20px;
      
    }


    .industries-section-2-4 h4{
      margin-top: 10px;
      display:inline-block;
    }

  .industries-section-2-4 h3{
  
      font-size: 24px;
      line-height: 32px;
        display: inline-block;
    margin-top: 10px;
    }

  .template-industries-construction .listing-cri p:last-child{
    margin-top: 30px;
  }
}