.industries-section-6 .info-list li p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #222222;

}


@media (min-width: 1201px) {
  .industries-section-6 .info-list li p{
      max-width: 18rem;
  }

   .template-industries-electrical .industries-section-6 .info-list li p{
      max-width: 25rem;
  }

    .template-industries-construction .industries-section-6 .info-list li p {
        max-width: 12rem;
    }

}

@media (max-width: 1200px) {
  .industries-section-6  .info-list li {
    flex: 1 0 100%;
  }
}