.industries-section-5 .info-list li p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #222222;
}

.template-industries-food-process .industries-section-5 .info-list li h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #222222;
  max-width: 14rem;
}

.template-industries-food-process .industries-section-5 .info-list li p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
}

@media(min-width: 1201px){
  .template-industries-food-process .industries-section-5 .info-list li{
    flex: 1 0 20%;
  }
}


.industries-section-5  .bbl {
    border-bottom: 1px solid var(--Blue-200, #ABB8C3);
}

@media (min-width: 1201px) {
  .industries-section-5 .info-list li p{
      max-width: 18rem;
  }

}

@media (max-width: 1200px) {
  .industries-section-5  .info-list li {
    flex: 1 0 100%;
  }
}