/*** Collection Loading Over lay *********/
.hidden {
    display: none !important;
}
.loading__spinner{
    position: absolute;
    padding-top: .6rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
  z-index:2;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}
.collection.loading {
    position: relative;
}

.collection .loading-overlay {
    position: absolute;
    z-index: 1;
    width: 1.8rem;
}

@media screen and (min-width: 750px) {
    .collection .loading-overlay {
        left: 0;
    }
}


.collection .loading-overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    padding: 0 1.5rem;
    opacity: .7;
}

@media screen and (min-width: 750px) {
    .collection .loading-overlay {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

.collection.loading .loading-overlay {
    display: block;
  background: #fff;
}


/******* Filters ************/

summary {
    cursor: pointer;
    list-style: none;
    position: relative;
}
details>* {
    box-sizing: border-box;
}

.facets__selected{
  display:none;
}
a.filter-btn, button.filter-btn {
    padding: 8px 16px;
    gap: 8px;
    background: #EBF0F5;
    border: 0;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-secondary-color);
    text-decoration: none;
}

a.filter-btn:hover{
  text-decoration: none;
  color: var(--font-primary-color);
}

a.filter-btn.active ,button.filter-btn.active {
    color: var(--font-primary-color);
    background:var(--primary-color);
}

.product-types-filter-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 60px;
    gap: 10px;
}

 .product-type-filter-details{
  display:none;
}

 .active-facets{
  display:none !important;
}

 .mobile-facets__wrapper{
  display:none !important;
}

.product-count{
  display:none;
}

summary .icon-caret {
    position: absolute;
    height: .6rem;
    right: 1.5rem;
    top: calc(50% - .2rem);
}

.facets__header-vertical{
  display:none;
}

 price-range.facets__price {
    display: none;
}



.facets__label.facet-checkbox input[type=checkbox]:checked {
    background: var(--primary-color);;
    border: 1px solid  var(--primary-color);
    border-radius: 2px;
    flex-shrink: 0;
}



.facets-layout-list--text input[type=checkbox] {
    width: 16px !important;
    height: 16px !important;
    top: 10px !important;
    left: 0px !important;
  border-radius: 4px !important;
}

.facets-vertical .facet-checkbox .icon-checkmark {
    visibility: hidden;
    position: absolute;
    left: 0px;
    z-index: 5;
    top: 3px;
    color: #fff !important;
}

.template-collection .collection-title .sh-16{
  max-width: 42rem;
  margin: 0 auto;
}

button#filter-button {
    color: var(--font-primary-color);
    background: var(--primary-color);
    border: 0;
    display: flex;
    width: auto;
    gap: 10px;
    padding: 8px 16px;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: 600;
}

@media (max-width: 767px){
   
  .product-types-filter-buttons {
    padding-bottom: 20px;
    gap: 5px;
  }

  .template-collection aside.filter.filter-active {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: start;
  }

   .template-search aside.filter.filter-active {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: start;
  }
  
  .filter {
    display: none;
    position: fixed;
    top: 5%;
    left: 0;
    max-width: 33rem;
    height: 95%;
    background-color: #fff;
    z-index: 1000;
    overflow-y: auto;
    padding: 2rem;
    box-shadow: 0px 1px 3px 0px #6c757d;
    animation: slide-up 0.5s ease forwards;
    background: #FFFFFF;
    box-shadow: 0px 0px 1.9911px rgba(23, 26, 31, 0.12), 0px 0px 0.995549px rgba(23, 26, 31, 0.07);
    border-radius: 5.9733px;
    border-radius: 0;
  }

  .filter button#close-filter-button {
        position: absolute;
        top: 0px;
        right: 0px;
        border: none;
        cursor: pointer;
        border: 1px var(--primary-color) solid;
        border-radius: 0px;
        padding: 0;
        background: var(--primary-color);
        width: 24px;
        height: 24px;
        color: #fff;
    }

  
}


.active-facets {
  margin: 0 !important;
}

.filter-slide-up {
  animation: slide-up 0.5s ease forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    /* Start off the screen (bottom) */
  }

  to {
    transform: translateY(0);
    /* Slide to the top */
  }
}

.filter-slide-down {
  animation: slideDown 0.5s forwards;
  /* Apply slide-down animation */
}

@keyframes slideDown {
  from {
    top: 50%;
    /* Start from the center of the screen */
    transform: translate(-50%, -50%);
  }

  to {
    top: 100%;
    /* End off-screen at the bottom */
  }
}

.sd {
  animation: slideDown 0.5s forwards;
  /* Apply slide-down animation */
}
.collection.collection--empty{
  text-align: center;
}
.collection.collection--empty .sh-48 {
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    color: var(--font-secondary-color);
}

.collection.collection--empty .sh-48 a {
    color: var(--primary-color);
}

.button-show-more {
  background: transparent;
  border:0;
  padding:0;
}

.button-show-more:hover{
 color: var(--primary-color);
}

.parentCategorty-all-categories{
  display: none !important;
}

/* .product-types-filter-buttons{
  display: none !important;
} */

.parentCategorty  span.facet-checkbox__text-label {
    color: var(--primary-color);
    font-weight: bold;
}

#Details-Custom-Category-template--17499110441013__product-grid{
  display:none;
}

#Details-Custom-Category-template--17499110375477__product-grid{
  display:none;
}

.custom-ppe-categories{ display:none;}
.template-collection .product-options {
    padding: 0;
}

.template-collection .product-grid .price {
    font-size: 18px;
}

.template-collection .product-grid .price--on-sale .price-item--regular {
    font-size: 16px;
}

.template-collection .quick-add__submit{
  font-size: 20px !important;
}

.card-wraper .colors {
    min-height: 31px;
}

 @media (max-width: 500px){
    .quick-add__submit {
        font-size: 18px !important;
    }

     .product-grid .button {
        min-width: 100%;
        min-height: auto;
        padding: 8px !important;
    }
  }


