.make-unique-inner h1, .make-unique-inner p{
  padding: 0;
  margin: 0;
}

.make-unique-inner .s-btn{
  padding: 16px 32px;
  isolation: isolate;
  
  max-width: 300px;
  min-height: 56px;
}

.make-unique-inner{
 
  box-sizing: border-box;
  padding-top: 80px;
  border-top: 1px solid #EBF0F5;
}

@media(max-width: 767px){
  .make-unique-inner{
    padding-top: 40px;
  }
}