.make-us-differnece .sh-48 span{
    color: var(--primary-color);
}

.make-us-differnece ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.make-us-differnece li {
    padding: 20px 0;
}

@media (min-width: 768px){
  .make-us-differnece ul {
    column-count: 2;
    column-gap: 20px; /* Space between the columns */
  }
}