 .breadcrumbs-share-list {display: flex;flex-wrap: wrap;align-items: center;}
 .breadcrumbs {
    margin: 0;
    padding: 10px 15px 15px 0;
}
  .breadcrumbs__list {list-style-type: none;margin: 0;padding: 0;}
  .breadcrumbs__item {display: inline-block;}
  .breadcrumbs__item .breadcrumbs__link  {font-size: 12px;line-height: 24px; color: var(--font-secondary-color); text-transform: capitalize;}
  .breadcrumbs__item:not(:last-child):after {content: '/';display: inline-block;margin: 0 .10em;position: relative;vertical-align: middle; font-size: 12px; line-height: 24px; top: 0;}
  .breadcrumbs__item .breadcrumbs__link_no{font-weight: 400;font-size: 12px; line-height: 24px; color: var(--font-secondary-color); text-decoration: none; pointer: none;}
  .breadcrumbs__item .breadcrumbs__link:hover,
  .breadcrumbs__item .breadcrumbs__link:focus {text-decoration: underline; }

.template-blog .page-title .sp-12{
  max-width: 42rem;
}

.template-faqs .page-title{
  text-align: center;
}

.template-faqs .page-title{
  text-align: center;
}

.template-faqs .breadcrumbs-share-list {
    justify-content: center;
}