#shop-best-sellers-tabs {
    border-bottom: 1px solid #EBF0F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
}

#shop-best-sellers-tabs a.nav-link {
  border-radius: 4px;
  line-height: 21px !important;
  text-transform: capitalize;
  border: 0;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
   font-weight: 600;
   color: #222222;
   font-size: 17px;
}


#shop-best-sellers-tabs .nav-link.active{
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: var(--primary-color);
  border: 0;
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
}

#shop-best-sellers-tabs-content{
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-wraper .colors {
    min-height: 31px;
}

#shop-best-sellers-tabs-content .price {
    font-size: 1.2rem;
}

#shop-best-sellers-tabs-content .price--on-sale .price-item--regular {
   font-size: 0.9rem;
}

#shop-best-sellers-tabs-content .quick-add__submit{
  font-size: 20px !important;
}

#shop-best-sellers-tabs-content  .product-options {
    padding: 0;
}

 @media (max-width: 500px){
    .quick-add__submit {
        font-size: 18px !important;
    }

     .product-grid .button, #shop-best-sellers-tabs-content .button {
        min-width: 100%;
        min-height: auto;
        padding: 8px !important;
    }
  }
