.stay-protected-inner {
    min-height: 240px;
    background: #FFFFFF;
    padding: 40px;
}

.stay-protected-inner .p-btn{
  padding: 16px 32px;
  min-width: 253px;
  min-height: 56px;
}

.template-collection .stay-protected-inner {
    min-height: 240px;
    background: #FFFFFF;
    padding: 40px;
    max-width: 77rem;
    margin: 0 auto;
}